.sidebar {
    position: sticky;
    min-height: 50rem;
    height: 100%;
    padding: 1.5rem 1rem;
    background: var(--card-bg);
    border-radius: 0.5rem;
    max-width: 18rem;
    min-width: 4rem;
    display: flex;
    color: var(--label-color);
    flex-direction: column;
    left: 0;
    top: 0;
    transition: max-width 0.2s ease-in-out;
}

body.collapsed .sidebar {
    max-width: 5rem;
    display: flex;
}

body.collapsed .sidebar .hide {
    position: absolute;
    visibility: hidden;
}

.separator {
    background: var(--separator);
    height: 1px;
}

.separator-top {
    margin-top: 40vh;
}

body.collapsed .search-wrapper input::placeholder {
    color: transparent;
}

.sidebar-top {
    overflow: hidden;
    height: 4rem;
    padding-bottom: 1rem;
}

.logo_wrapper {
    color: var(--label-color);
    text-decoration: none;
    font-size: 1.35rem;
    padding: 0 0.6rem;
    gap: 0.75rem;
}

.logo-small {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    object-fit: cover;
}

.company-name {
    white-space: nowrap;
    color: var(--label-color);
}

.expand-btn {
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    background: var(--card-bg);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05);
    z-index: 2;
    right: -1rem;
    width: 2.25rem;
    height: 2.25rem;
    border: none;
    border-radius: 50%;
}

.expand-btn:hover {
    border: 1px solid var(--primary);
}

.expand-btn svg {
    transform: rotate(-180deg);
    stroke: var(--label-color);
    width: 1.25rem;
    height: 1.25rem;
}

body.collapsed .expand-btn svg {
    transform: rotate(-360deg);
}

@keyframes fadeIn {
    from {
        width: 4rem;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

.sidebar-links svg {
    stroke: var(--label-color);
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
}

.sidebar-links a:hover {
    background: var(--steel-skin);
    color: var(--label-color);
}

.sidebar-links a:hover svg {
    stroke: var(--label-color);
}

.sidebar-links a {
    color: var(--label-color);
    width: 100%;
    padding-left: 0.6rem;
    font-size: 1.25rem;
    display: flex;
    gap: 0.75rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    min-height: 3.25rem;
    text-decoration: none;
    transition: background  2s ease-in-out;
}

.sidebar-links a .link {
    overflow: hidden;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links .active {
    text-decoration: none;
    background: var(--steel-skin);
}

.sidebar-links .active svg {
    stroke: var(--label-color);
}

/* Profile configuration */
.sidebar_profile {
    overflow-x: hidden;
    height: fit-content;
}

.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.avatar:hover {
    border: 2px solid var(--tooltip-bg);
}

.avatar_name {
    color: var(--label-color);
    gap: 0.25rem;
}

/* Tooltips configuration */
.tooltip-wrapper {
  position: relative;
  width: 100%;
}

.tooltip-content {
  position: absolute;
  left: 120%;
  top: 50%;
  transform: translateY(-50%) translateX(-5px);
  background: var(--steel-skin);
  color: var(--label-color);
  padding: 0.35rem 0.75rem;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  font-size: 0.85rem;
}

/* freccia */
.tooltip-content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px; /* puntamento verso il link */
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--steel-skin) transparent transparent;
}

.sidebar.collapsed .tooltip-wrapper:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}
