/* =================== Insights ==================== */
.insights {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Responsive */
  gap: 1.6rem;
}

.card {
  box-shadow: var(--box-shadow);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  transition: all 300ms ease;
}

.card:hover, .table:hover {
  box-shadow: none;
}

.insights > .card span {
  padding: 0.5rem;
  width: 50px;
  height: 50px;
}

.insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

.insights small {
  margin-top: 1.3rem;
}

.insights .progress {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.insights .progress svg {
  width: 7rem !important;
  height: 7rem !important;
}

.insights svg circle {
  stroke: var(--color-primary);
  transform: translate(5px, 5px);
}

.insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

.insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

.insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

/* =================== Tabella ==================== */
.table {
    background: var(--card-bg);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead th {
    background-color: transparent;
    height: 3.5rem;
    color: var(--label-color);
    font-size: 0.9rem;
}

.table tbody td {
    height: 2.8rem;
    background-color: transparent;
    border-bottom: 1px solid var(--clr-alpha);
    color: var(--label-color);
    vertical-align: middle;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

.table tbody tr:nth-child(even) {
    background-color: var(--clr-alpha);
}

.table tbody tr:nth-child(odd) {
    background-color: var(--card-bg);
}

.movements a {
    width: max-content;
}

/* =================== Updates ==================== */
.recent-updates .updates {
  transition: all 300ms ease;
}

@media (max-width: 992px) {
  .insights {
    grid-template-columns: 1fr;
  }
}